{% extends "theme.html" %}

{% block content %}
<h2 align='center'>发布新的应用</h2>
<form method='POST' action=' {% url 'release' %} 'align='center' enctype='multipart/form-data'>
		{% csrf_token %}
		APP名称:
		<br>
		<input type='text' name='APP名称'>
		<br>
		<br>
		介绍:
		<br>
		<textarea cols=100 rows=10 name='介绍'></textarea>
		<br>
		<br>
		APP链接:
		<input type='text' name='APP链接'>
		<br>
		<br>
		APP图标(缩略图):
		<input type='file' name='APP图标'>
		<br>
		<br>
		&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;大图:
		<input type='file' name='大图'>
		<br>
		<br>
		<input class='btn btn-primary' type='submit' value="发布">
		<br>
</form>
{% endblock content %}
